<!DOCTYPE HTML>
<html dir="ltr" lang="en-US">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>Login</title>

	<!--- CSS --->
	<link rel="stylesheet" href="{$Think.const.ADMIN_LOGIN_URL}style.css" type="text/css" />

	</head>

	<body>
		<div id="container">
			<div class="welcome">
				<div class="welcome-user">Welcome USER!</div>
				<div class="welcome-text">Yeah</div>
				<div class="home"><a href="index.html">HOME</a></div>
			</div>
		</div>
	</body>
</html>
